body {
    background-color: yellow;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    margin-top: 40px;
}

.card1 {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    border: 2px solid black;
    margin: 20px;
}

#a1 {
    animation-name: skew1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: rgb(16, 235, 16);
}

@keyframes skew1 {
    0% {
        transform: skewX(30deg);
    }

    50% {
        transform: skewX(-30deg);
    }

    100% {
        transform: skewX(30deg);
    }
}

#b1 {
    animation-name: skew2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: blueviolet;
}

@keyframes skew2 {
    0% {
        transform: skewY(30deg);
    }

    50% {
        transform: skewY(-30deg);
    }

    100% {
        transform: skewY(30deg);
    }
}


#c1 {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: darkred;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#d1 {
    animation-name: scaleY;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: darkslategrey;
}

@keyframes scaleY {
    0% {
        transform: scaleY(1.0);
    }

    50% {
        transform: scaleY(0.3);
    }

    100% {
        transform: scaleY(1.0);
    }
}

#d2 {
    animation-name: scaleX;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: darkblue;
}

@keyframes scaleX {
    0% {
        transform: scaleX(1.0);
    }

    50% {
        transform: scaleX(0.3);
    }

    100% {
        transform: scaleX(1.0);
    }
}

#d3 {
    animation-name: scale;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: darkorchid;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}

a {

    display: flex;
    justify-content: center;
    font-weight: bold;
}