* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, sandybrown, white, green);
    padding: 5px;
    height: 600px;
    width: auto;
}

.container {
    margin: 0;
    /* position: fixed; */
    position: relative;
}

.cloud {
    background-image: url(cloud.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
}

.p {
    display: flex;
    font-size: 30px;
    top: 70px;
    position: relative;
    left: 430px;
}

#p1 {
    background-color: orange;
}

#p2 {
    background-color: white;
}

#p3 {
    background-color: green;
}

.sun {
    background-image: url(sun.png);
    position: relative;
    width: 100px;
    height: 100px;
    top: 100px;
    animation-name: sun;
    /* left: -400px; */
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes sun {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
        /* Move across screen */
    }
}

.city {
    width: 100%;
    height: 400px;
    background-image: url(city.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 250px;
    background-size: contain;
    /* background-size: cover; */
}

.road {
    background-image: url(road.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    animation-name: road;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    overflow: hidden;
    border: 1px solid wheat;
}

@keyframes road {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes movecar {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(150vw);
    }
}

.car {
    background-image: url(car1.png);
    width: 300px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    /* bottom: 10px; */
    left: -200px;
    animation-name: movecar;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.car2 {
    position: relative;
    top: 50px;
    margin-left: 100px;
    animation-duration: 50s;
}

.flag {
    background-image: url(flag.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    position: relative;
    left: 230px;
    top: 5px;
}

.wheel {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(wheel.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: wheelSpin 1s linear infinite;
}

/* Front wheel */
.wheel-1 {
    margin-top: 1px;
    left: 38px;
}

/* Back wheel */
.wheel-2 {
    margin-top: 4px;
    left: 225px;
}


@keyframes wheelSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
