body {
    background-color: aqua;
    margin-left: 400px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 40px;
    transition-duration: 4s;
    text-align: center;
}

#card1:hover {
    background-color: lightcoral;
    transition: linear;
    width: 250px;
    transition: 3s;
}

#card2:hover {
    background-color: lightgreen;
    transition: linear;
    width: 250px;
    height: 200px;
    transition: 3s;
}

#card3:hover {
    background-color: darkorange;
    transition: linear;
    width: 250px;
    height: 200px;
    transition: width 10s, height 5s;
}

#card4:hover {
    background-color: darkslategrey;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 50%;
    transition: 3s;
}